.listItem {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 1rem;
}

@media screen and (min-width: 670px) {
  .listItem {
    flex-direction: row;
    margin-bottom: 0;
  }
}
