.list {
  padding-top: 4em;
  background: white;
  max-height: 100vh;
  overflow: scroll;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: var(--outerMargin);
}

.listItem {
  position: relative;
  display: grid;
  justify-content: space-between;
  cursor: pointer;
  grid-template-columns: 2.5em 1.5fr auto;
  gap: .5em;
}

.listItem span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.popUpAsset {
  position: fixed;
  left: 50%;
  top: calc(50% - 2em);
  transform: translate(-50%, -50%);
  width: calc(80vmin - 4em);
  height: calc(80vmin - 4em);
  object-fit: contain;
  transition: none;
  pointer-events: none;
}

.inactive {
  display: none;
}

@media screen and (min-width: 670px) {
  .listItem {
    grid-template-columns: 2.5em 1.3fr .6fr 1fr 16em;
  }

  .listItem span:nth-child(4) {
    text-align: inherit;
  }

  .listItem span:nth-child(5) {
    text-align: right;
  }
}
