.list {
  margin: var(--outerMargin);
  text-align: center;
  margin-top: -1em;
  padding-bottom: 4rem;
}

.listItem {

}

.heroImage {
  position: relative;
  padding-bottom: 75%;
  margin-bottom: .5rem;
}

@media screen and (max-width: 670px) {
  .heroImage img {
    object-fit: cover !important;
  }
}

@media screen and (min-width: 670px) {
  .list {
    padding-top: 4em;
    background: var(--background);
    max-height: 100vh;
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding-bottom: 0;
  }

  .listItem, .listHeader {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2.5em 1fr .6fr 1fr 16em;
    gap: .5em;
  }

  .listItem {
    cursor: pointer;
  }

  .listHeader {
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .listItem div:not(.heroImage) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .heroImage {
    position: fixed;
    left: 50%;
    top: calc(50% - 2em);
    transform: translate(-50%, -50%);
    width: calc(80vmin - 4em);
    height: calc(80vmin - 4em);
    object-fit: contain;
    transition: none;
    pointer-events: none;
    padding-bottom: 0;
  }

  .listItem .material {
    text-align: inherit;
  }

  .listItem .dimensions,
  .listHeader .dimensions {
    text-align: right;
  }

  .inactive {
    display: none;
  }
}
