.introduction {
  scroll-snap-align: start;
/*  min-height: 50vh;*/
  padding-top: 0;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.body {
  text-align: center;
  margin-top: -1em;
  margin-bottom: -1em;
}

.body > *:not(div) {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.body h1:first-of-type {
  margin-top: 0;
}

.body p:last-of-type {
  margin-bottom: 0;
}

.asset {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden;
  position: relative;
}

.reference {
  position: absolute;
  right: 1em;
  top: .6em;
}

.related {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: scroll;
}

.related header {
  padding-left: var(--outerMargin);
  padding-right: var(--outerMargin);
}

@media screen and (min-width: 670px) {
  .container {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
  }
}
