

figure {
  margin: 0;
}

figcaption {
  font-size: .85rem;
  line-height: 1.35em;
}

.artwork figcaption {
  margin: .125rem .75rem;
}

img {
  width: 100%;
  height: auto;
  transition: opacity 200ms 100ms;
  vertical-align: text-bottom;
}

/*.margins.right-aligned {
  padding-left: 25%;
}

.margins.centered figcaption {
  margin-left: var(--outerMargin);
}

.fullscreen.centered {
  position: relative;
}

.fullscreen.centered img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullscreen.centered figcaption {
  position: absolute;
  bottom: var(--outerMargin);
  left: var(--outerMargin);
}

.fullscreen.right-aligned {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fullscreen.right-aligned img {
  object-fit: cover;
}

.fullscreen.right-aligned figcaption {
  margin: .75rem;
}

.placeholder {
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  background: url(/assets/placeholder.svg) no-repeat center;
  background-size: calc(100% - 2px);
}

.o-1 {
  opacity: 1;
}

.o-0 {
  opacity: 0;
}

.left-aligned, .fullscreen-left-aligned {
  width: 65%;
  padding-right: 35%;
}

@media screen and (min-width: 670px) {
  .margins {
    width: 65%;
    padding-right: 35%;
  }

  .fullscreen-left-aligned,
  .fullscreen-right-aligned {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    padding: 0;
  }

  .fullscreen-left-aligned {

    grid-template-areas: "asset description"
  }

  .fullscreen-right-aligned {
    grid-template-areas: "description asset"
  }

  .fullscreen-left-aligned img,
  .fullscreen-right-aligned img {
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 100vh;
  }
}*/

.asset-grid {
  display: grid;
  grid-template-columns: 1rem repeat(12, minmax(0, 1fr)) 1rem;
  grid-template-rows: 1rem repeat(12, minmax(0, 1fr)) 1rem;
}

.left-aligned .image-container {
  grid-column-start: 1;
  grid-column-end: span 10;
  grid-row-start: 1;
  grid-row-end: span 10;
}

.left-aligned .reference {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 14;
  text-align: right;
}

.fullscreen-left-aligned .image-container {
  grid-column-start: 1;
  grid-column-end: span 9;
  grid-row-start: 1;
  grid-row-end: span 14;
}

.fullscreen-left-aligned .reference {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 14;
  text-align: right;
}

.fullscreen-right-aligned .image-container {
  grid-column-start: 4;
  grid-column-end: span 14;
  grid-row-start: 1;
  grid-row-end: span 14;
}

.fullscreen-right-aligned .reference {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.fullscreen .image-container {
  grid-column-start: 1;
  grid-column-end: span 14;
  grid-row-start: 1;
  grid-row-end: span 14;
}

.fullscreen .reference {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 14;
  text-align: right;
}

.image-container img {
  height: 100%;
  width: 100%;
}

.left-aligned .image-container img,
.fullscreen-left-aligned .image-container img {
  object-fit: contain;
  object-position: top left;
}

.right-aligned .image-container img,
.fullscreen-right-aligned .image-container img {
  object-fit: contain;
  object-position: top right;
}

.fullscreen .image-container img {
  object-fit: cover;
}
