@import "normalize.css";

:root {
  font-size: 110%;
  --background: rgb(250, 250, 250);
  --color: rgb(0, 0, 0);
}

@font-face {
  font-family: 'Bradford LL';
  src: url('/assets/bradford/BradfordLL-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bradford LL';
  src: url('/assets/bradford/BradfordLL-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Panama Monospace';
  src: url('/assets/bradford/PanamaMonospaceRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Panama Monospace';
  src: url('/assets/bradford/PanamaMonospaceIranic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

.hr {
  display: flex;
visibility: hidden;
  justify-content: center;
  align-items: center;
  height: 2em;
  overflow: hidden;
  max-width: calc(100vw - var(--outerMargin) - var(--outerMargin));
  pointer-events: none;
}

.hr > span {
  flex: 0 0 auto;
  margin: .25em;
}

.ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (min-width: 670px) {
  :root {
    font-size: 100%;
  }

  .sm {
    display: none;
  }
}

@media only screen and (max-width: 669px) {
  .md {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.35em;
  color: var(--color);
  background: var(--background);
}

p:empty {display: none;}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

.hyphens {
     -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 3;
     -webkit-hyphenate-limit-after: 3;
     -webkit-hyphenate-limit-chars: 6 3 3;
     -webkit-hyphenate-limit-lines: 2;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 6 3 3;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 6 3 3;
     hyphenate-limit-lines: 2;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;
 }

 .uppercase {
   text-transform: uppercase;
   letter-spacing: .25rem;
 }

 .no-hyphens {
   hyphens: none;
 }

 .list-style-none {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .list-style-none p {
   margin: 0;
 }

 .sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.soft-breaks {
  white-space: pre-line;
}

.alert {
  text-align: center;
  border-bottom: 1px solid var(--color);
  padding: .25rem;
}


.biography article:last-of-type .hr {
  display: none;
}


 @import "grids.css";
 @import "header.css";
 @import "headlines.css";
 @import "assets.css";
 @import "articles.css";
